@media only screen and (max-width:1100px) {
  /*colors page*/
  .colors_drag_images, .colors_drop_images {
    column-gap: 5vw;
  }
}
@media only screen and (max-width:767px) {
  /*main page*/
  .btn_img {
    width: 33vw;
  }
  /*menu page*/
  .menu_image {
    width: 40vw;
  }
  /*colors page*/
  .back_arrow {
    top: 10px;
    left: 10px;
    width: 5vw;
  }
  .drag_image, .drop_image {
    width: 23vw;
  }
}

@media only screen and (max-height:750px) {
  /*menu page*/
  .menu_image {
    width: 42vh;
  }
}
@media only screen and (max-height:520px) {
  /*menu page*/
  .menu_images {
    display:flex;
    flex-direction: row;
    grid-column-gap: 0px;
  }
  /*colors page*/
  .colors_drag_images {
    margin-bottom: 70px;
  }
  .back_arrow {
    top: 10px;
    left: 10px;
    width: 7vh;
  }
  .drag_image, .drop_image {
    width: 30vh;
  }
}

