@media only screen and (max-width:1279px) {
  /*logic page*/
  .cards_container {
    grid-template-columns: repeat(6, auto);
    grid-gap: 15px;
  }
}

@media only screen and (max-width:767px) {
  /*main page*/
  .btn_img {
    width: 33vw;
  }
  /*colors page*/
  #tasksPoints span {
    margin: 6px;
    width: 13px;
    height: 13px;
  }
  /*logic page*/
  .game_info {
    font-size: 6vw;
    letter-spacing: 5px;
  }
  .cards_container {
    grid-template-columns: repeat(6, auto);
    grid-gap: 2vw;
  }
  .card {
    width: 13vw;
    height: 13vw;
  }
  .bubble {
    width: 13vw;
  }
  .animal {
    width: 11vw;
  }
  .back_image {
    width: 13vw;
  }
}

@media only screen and (max-width:450px) {
  #tasksPoints span {
    margin: 3px;
    width: 9px;
    height: 9px;
  }
  .menu_element {
    width: 66vw;
    height: 21vw;
  }
}

@media only screen and (max-width:320px) {
  .cards_container {
    grid-gap: 1.5vw;
  }
}


@media only screen and (max-height:770px) {
  /*colors page*/
  #tasksPoints span {
    margin: 6px;
    width: 13px;
    height: 13px;
  }
  /*logic page*/
  .game_info {
    font-size: 7vh;
    letter-spacing: 5px;
  }
  .cards_container {
    grid-template-columns: repeat(6, auto);
    grid-gap: 2vh;
  }
  .card {
    width: 11vh;
    height: 11vh;
  }
  .bubble {
    width: 11vh;
  }
  .animal {
    width: 10vh;
  }
  .back_image {
    width: 11vh;
  }
  .info_container {
    margin-bottom: 4vh;
  }
}

@media only screen and (max-height:520px) {
  .btn_img {
    width: 50vh;
  }
}

@media only screen and (max-height:380px) {
  .btn_img {
    width: 50vh;
  }
  .menu_element {
    margin: 2.7vh;
    width: 55vh;
    height: 18vh;
  }
}

