@media only screen and (max-width:1100px) {
  /*colors page*/
  .colors_drag_images, .colors_drop_images {
    column-gap: 5vw;
  }
  .drag_image, .drop_image {
    width: 15vw;
  }
}

@media only screen and (max-width:1170px) {
  /*menu page*/
  .menu_image {
    width: 35vw;
  }
  /*logic page*/
  .cards_container {
    grid-template-columns: repeat(6, auto);
    grid-gap: 15px;
  }
}

@media only screen and (max-width:840px) {
  /*shapes page*/
  .drag_container {
    width: 180px;
  }
  .drop_container {
    width: calc(100% - 180px);
  }
  .shape_image {
    width: 110px;
    padding: 10px;
  }
  .shadow_image {
    width: 110px;
    padding: 10px;
  }
  /*logic page*/
  .cards_container {
    grid-gap: 15px;
  }
  .card {
    width: 100px;
    height: 100px;
  }
  .bubble {
    width: 100px;
  }
  .animal {
    width: 80px;
  }
  .back_image {
    width: 100px;
  }
}

@media only screen and (max-width:767px) {
  /*main page*/
  .btn_img {
    width: 33vw;
  }
  /*menu page*/
  .menu_image {
    width: 30vw;
  }
  /*shapes page*/
  .drag_container {
    left: 0;
    top: 0;
    width: 180px;

  }
  .shape_image {
    width: 100px;
    padding: 10px;
  }
  .shadow_image {
    width: 100px;
    padding: 15px;
  }
  /*colors page*/
  .back_arrow {
    top: 10px;
    left: 10px;
    width: 5vw;
  }
  #tasksPoints span {
    margin: 5px;
    width: 13px;
    height: 13px;
  }
  .drag_image, .drop_image {
    width: 15vw;
    column-gap: 4vw;
  }
  /*logic page*/
  .cards_container {
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
  }
  .card {
    width: 80px;
    height: 80px;
  }
  .bubble {
    width: 80px;
  }
  .animal {
    width: 60px;
  }
  .back_image {
    width: 80px;
  }
}



@media only screen and (max-height:750px) {
  /*menu page*/
  .menu_image {
    width: 40vh;
  }
  /*logic page*/
  .cards_container {
    grid-template-columns: repeat(10, auto);
    grid-gap: 7px;
  }
  .card {
    width: 60px;
    height: 60px;
  }
  .bubble {
    width: 60px;
  }
  .animal {
    width: 50px;
  }
  .back_image {
    width: 60px;
  }
  #tasksPoints span {
    margin: 5px;
    width: 13px;
    height: 13px;
  }
}
@media only screen and (max-height:520px) {
  .btn_img {
    width: 50vh;
  }
  /*colors page*/
  .colors_drag_images {
    margin-bottom: 70px;
  }
  .back_arrow {
    top: 10px;
    left: 10px;
    width: 7vh;
  }
  .drag_image, .drop_image {
    width: 30vh;
  }
  /*logic page*/
  .cards_container {
    grid-template-columns: repeat(6, auto);
    grid-gap: 7px;
  }
  .card {
    width: 60px;
    height: 60px;
  }
  .bubble {
    width: 60px;
  }
  .animal {
    width: 50px;
  }
  .back_image {
    width: 60px;
  }
  #tasksPoints span {
    margin: 5px;
    width: 13px;
    height: 13px;
  }
}

