@media only screen and (max-width:1100px) {
  /*colors page*/
  .colors_drag_images, .colors_drop_images {
    column-gap: 5vw;
  }
  .drag_image, .drop_image {
    width: 15vw;
  }
}

@media only screen and (max-width:1170px) {
  /*logic page*/
  .cards_container {
    grid-template-columns: repeat(6, auto);
    grid-gap: 15px;
  }
  .card {
    width: 150px;
    height: 150px;
  }
  .bubble {
    width: 150px;
  }
  .animal {
    width: 100px;
  }
  .back_image {
    width: 150px;
  }
}

@media only screen and (max-width:840px) {
  /*logic page*/
  .cards_container {
    grid-template-columns: repeat(5, auto);
    grid-gap: 15px;
  }
  .card {
    width: 100px;
    height: 100px;
  }
  .bubble {
    width: 100px;
  }
  .animal {
    width: 70px;
  }
  .back_image {
    width: 100px;
  }
}

@media only screen and (max-width:540px) {
  /*logic page*/
  .cards_container {
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
  }
  .card {
    width: 80px;
    height: 80px;
  }
  .bubble {
    width: 80px;
  }
  .animal {
    width: 50px;
  }
  .back_image {
    width: 80px;
  }
}

@media only screen and (max-width:767px) {
  /*main page*/
  .btn_img {
    width: 33vw;
  }
  /*menu page*/
  .menu_image {
    width: 40vw;
  }
  /*colors page*/
  .back_arrow {
    top: 10px;
    left: 10px;
    width: 5vw;
  }
  .drag_image, .drop_image {
    width: 15vw;
    column-gap: 4vw;
  }

}

@media only screen and (max-height:750px) {
  /*menu page*/
  .menu_image {
    width: 42vh;
  }
}
@media only screen and (max-height:520px) {
  .btn_img {
    width: 50vh;
  }
  /*menu page*/
  .menu_images {
    display:flex;
    flex-direction: row;
    grid-column-gap: 0px;
  }
  /*colors page*/
  .colors_drag_images {
    margin-bottom: 70px;
  }
  .back_arrow {
    top: 10px;
    left: 10px;
    width: 7vh;
  }
  .drag_image, .drop_image {
    width: 30vh;
  }


}

