html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}
html, body {
	padding: 0;
	margin: 0;
	}
html {
	font-size: 1em;
}
body {
	font-size: 100%;
	}
a img, :link img, :visited img {
	border: 0;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
  font-family: 'Georgia';
  src: url('assets/fonts/Georgia/Georgia-Bold.eot');
  src: local('Georgia Bold'), local('Georgia-Bold'),
    url('assets/fonts/Georgia/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Georgia/Georgia-Bold.woff2') format('woff2'),
    url('assets/fonts/Georgia/Georgia-Bold.woff') format('woff'),
    url('assets/fonts/Georgia/Georgia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('assets/fonts/Georgia/Georgia.eot');
  src: local('Georgia'),
    url('assets/fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Georgia/Georgia.woff2') format('woff2'),
    url('assets/fonts/Georgia/Georgia.woff') format('woff'),
    url('assets/fonts/Georgia/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* controlls and overlay*/
.buttons_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 800;
}

.back_arrow {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 45px;
  padding: 5px;
  transition: 0.3s;
  filter: drop-shadow(6px 6px 8px rgb(76, 75, 72));
}

.music_button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 45px;
  padding: 5px;
  transition: 0.3s;
  filter: drop-shadow(6px 6px 8px rgb(76, 75, 72));
}

.hint_button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 45px;
  padding: 5px;
  transition: 0.3s;
  filter: drop-shadow(6px 6px 8px rgb(76, 75, 72));
}

.back_arrow:hover, .music_button:hover, .hint_button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.music_button.clicked {
  opacity: 0.6;
  transform: scale(0.9);
}

#tasksPoints {
  position: absolute;
  top: 20px;
  right: 20px;
}

#tasksPoints span {
  display: block;
  margin: 10px;
  float: left;
  width: 20px;
  height: 20px;
  filter: drop-shadow(2px 2px 4px rgb(24, 23, 23));
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Permanent Marker', cursive;
  background-size: cover;
  color:aqua;
  text-shadow: 0 2px 0 rgb(85, 80, 80);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 8px;
  z-index: 1000;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transform: translateZ(0);
}

.overlay.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

.overlay.visible > span {
  animation: overlayText-grow 2s ease-in-out 200ms;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(173, 146, 131, 0.596);
    font-size: 70px;
  }
}

@keyframes overlayText-grow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.balloonsContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100vw;
  transform: translateZ(0);
}

#balloons {
  position: relative;
  display: flex;
  transition: 0.7s;
}

#balloons span {
  display: flex;
  position: relative;
  margin: 10px;
  width: 70px;
  height: 120px;
  cursor: pointer;
  animation: balloonsFlying 10s linear infinite;
  transition: width 0.5s, height 0.5s;
}

@keyframes balloonsFlying {
  0% {
    transform: translateY(0);
    opacity: 0;
    width: 0;
    height: 0;
  }
  10% {
    opacity: 1;
    width: 70px;
    height: 120px;
  }
  100% {
    transform: translateY(-900px);
  }
}

/*start main page*/
.wrapper {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.main_wrapper {
  background: url(../assets/img/backgrounds/startbg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_button {
  margin: 0 auto;
}

.btn_img:hover {
  transition: 0.3s;
  filter: drop-shadow(8px 8px 10px green);
  cursor: pointer;
}
/*end main page*/

/*start menu*/
.menu_wrapper {
  position: relative;
  background: url(../assets/img/backgrounds/menubg.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_elements {
  display: flex;
  flex-direction: column;
}
.menu_element {
  margin: 20px;
  width: 265px;
  height: 85px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.menu_element span {
  font-family: 'Permanent Marker', cursive;
  color:aqua;
  text-shadow: 2px 3px 2px rgb(58, 53, 53);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 8px;
}

/* .menu_image {
  animation: danceToys1 1.5s linear infinite 200ms;
} */

.menu_element:hover{
  transition: 0.3s;
  filter: drop-shadow(8px 8px 10px green);
  cursor: pointer;
  transform: scale(1.1);
}
/*end menu*/

/* start menu*/
/* .menu_wrapper {
  position: relative;
  background: url(../assets/img/backgrounds/menubg.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_images {
  display: flex;
}

.menu_image {
  animation: danceToys1 1.5s linear infinite 200ms;
}

.menu_image:hover{
  transition: 0.3s;
  filter: drop-shadow(8px 8px 10px green);
  cursor: pointer;
  transform: scale(1.1);
} */
/*end menu */

/*start logic page*/
.logic_game_wrapper {
  background: url(../assets/img/backgrounds/logicbg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
}

/* .logic_title {
  display: flex;
  color: aqua;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  margin: 30px;
  height: auto;
  text-shadow: 0 2px 0 rgb(110, 105, 105);
} */

.info_container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.game_info {
  font-family: 'Permanent Marker', cursive;
  color:rgb(223, 158, 74);
  text-shadow: 2px 3px 2px rgb(58, 53, 53);
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 8px;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.card_face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.logic_image {
  filter: drop-shadow(8px 8px 10px rgb(41, 38, 35));
}

.bubble {
  width: 130px;
}

.animal {
  position: absolute;
  width: 110px;
}

.back_image {
  width: 130px;
  filter: drop-shadow(8px 8px 10px rgb(41, 38, 35));
}

.card_back {
  transform: rotateY(0);
}

.card_front {
  transform: rotateY(180deg);
}

.card.visible .card_back {
  transform: rotateY(-180deg);
}

.card.visible .card_front {
  transform: rotateY(0);
}

.card.visible .card_front .animal {
  animation: dance2 1.5s linear infinite 500ms;
}

.card.matched .card_front .animal {
  animation: dance1 1s linear infinite 500ms;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
}

@keyframes dance1 {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-7%);
  }
  75% {
    transform: translateY(7%);
  }
}

@keyframes dance2 {
  0%, 100% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
}
/*end logic page*/
