html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

html, body {
	padding: 0;
	margin: 0;
	}
html {
	font-size: 1em;
}
body {
	font-size: 100%;
	}
a img, :link img, :visited img {
	border: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: 'Georgia';
  src: url('assets/fonts/Georgia/Georgia-Bold.eot');
  src: local('Georgia Bold'), local('Georgia-Bold'),
    url('assets/fonts/Georgia/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Georgia/Georgia-Bold.woff2') format('woff2'),
    url('assets/fonts/Georgia/Georgia-Bold.woff') format('woff'),
    url('assets/fonts/Georgia/Georgia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('assets/fonts/Georgia/Georgia.eot');
  src: local('Georgia'),
    url('assets/fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Georgia/Georgia.woff2') format('woff2'),
    url('assets/fonts/Georgia/Georgia.woff') format('woff'),
    url('assets/fonts/Georgia/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*start main page*/
.wrapper {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}
.main_wrapper {
  background: url(../assets/img/backgrounds/startbg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_button {
  margin: 0 auto;
}
.btn_img:hover {
  transition: 0.3s;
  filter: drop-shadow(8px 8px 10px green);
  cursor: pointer;
}
/*end main page*/


/*start menu*/
.menu_wrapper {
  position: relative;
  background: url(../assets/img/backgrounds/menubg.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_images {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.menu_image:hover{
  transition: 0.3s;
  filter: drop-shadow(8px 8px 10px green);
  cursor: pointer;
  transform: scale(1.1);
}
/*end menu*/


/*start colors page*/
.colors_game_wrapper {
  position: relative;
  background: url(../assets/img/backgrounds/colorsbg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
}
.back_arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 45px;
  padding: 5px;
  background-color: yellow;
  border-radius: 50%;
  transition: 0.3s;
  filter: drop-shadow(6px 6px 8px rgb(221, 173, 101));
}
.back_arrow:hover {
  transform: scale(1.1);
}
#tasksPoints {
  position: absolute;
  top: 20px;
  right: 20px;
}
#tasksPoints span {
  display: block;
  margin: 10px;
  float: left;
  width: 20px;
  height: 20px;
}
.colors_drag_images {
  display: grid;
  grid-template-columns: repeat(4, auto);
  height: 130px;
  width: 100vw;
  justify-content: center;
  margin-bottom: 100px;
}
.colors_drop_images{
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.colors_drag_images, .colors_drop_images {
  column-gap: 5vw;
}
.drag_image {
  width: 200px;
  opacity: 1;
}
.drop_image {
  width: 200px;
}
.drag_image:hover {
  transform: scale(1.1);
  filter: drop-shadow(8px 8px 10px rgb(221, 173, 101));
}
.overlay {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(170, 167, 167, 0.5);
  background-size: cover;
  color:aqua;
  text-shadow: 0 2px 0 rgb(110, 105, 105);
  /* text-shadow: 3px 3px 0 yellow,
  6px 6px 0 blue,
  9px 9px 0 red,
  12px 12px 0 green; */
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 8px;
  z-index: 1000;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform: translateZ(0);
}
.balloonsContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100vw;
  transform: translateZ(0);
}
#balloons {
  position: relative;
  display: flex;
}
#balloons span {
  display: flex;
  position: relative;
  margin: 10px;
  width: 70px;
  height: 120px;
}
/*end colors page*/

/*start shapes page*/
.shapes_game_wrapper {
  position: relative;
  background: url(../assets/img/backgrounds/shapesbg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
}
.buttons_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 800;
}
.drop_container {
  width: calc(100% - 230px);
  align-self: flex-end;
}
.shapes_drop_images {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
}
.shape_image:hover {
  cursor: pointer;
}
.shadow_image {
  width: 150px;
  padding: 30px;
  filter: drop-shadow(8px 8px 10px rgb(110, 103, 95));
}

.drag_container {
  position: relative;
  left: 0;
  top: 0;
  background: url(../assets/img/backgrounds/wood.jpg);
  background-size: cover;
  width: 230px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shapes_drag_images{
  position: relative;
  height: 830px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.shape_image {
  width: 150px;
  filter: drop-shadow(8px 8px 10px rgb(41, 38, 35));
  padding: 15px;
}
/*end shapes page*/


